$red: #da3b35;
$purple: #431f79;
$black: #161616;
$darkBlack: #090708;
$placeholder: #909090;
$fieldBorder: #c6c6c6;
$cement: #a3a49e;
$disabled: #9b9b9b;

$approved: #20dd86;
$checkbox-native-border: rgba(156, 168, 182, 0.76);
$devider: #cccccc;
$coral: #ef534f;
