@import './styleTools.scss';
@import '~slick-carousel/slick/slick.css';
@import './slick/slick-theme.scss';
@import './components/hero.scss';
@import './components/navbar.scss';
@import './components/carousle.scss';
@import './components/footer.scss';
@import './components/about.scss';
@import './components/swiper.scss';
@import './components/gallery.scss';

#__next,
.home {
  @extend %Secular;
  background: $black;
  // overflow-x: hidden;
}

header {
  h1 {
    color: white;
    @extend %fs62;
    @extend %Secular;
  }
  h2 {
    color: white;
    @extend %fs48;
    @extend %Secular;
  }
  h4 {
    color: white;
    @extend %Secular;
    @extend %fs30;
  }
}
p {
  color: white;
  @extend %Varela;
  @extend %fs18;
}


.grid {
  margin: 0 auto;
  width: 95%;
  @include sm {
    padding: 0;
    width: 720px;
  }
  @include md {
    width: 960px;
  }
  @include lg {
    width: 1140px;
  }
}
