//Cart\\
.cart {
  > .grid > header {
    padding: 5em 0 3em 0;
    // text-align: center;
  }
  > .grid > section {
    color: white;
    @extend %fs18;
    margin-bottom: 5em;
    .cart__total-pay {
      text-align: end;
      @extend %fs24;
    }
  }
  // Empty cart \\
  .cart-is-empty {
    @extend %fs24;
  }
  .cart-footer {
    padding-top: 3em;
    @include flex-row(space-around);
    div {
      @extend %btnDark;

      &:last-child() {
        &:hover {
          background: darken($approved, 20%);
        }
      }
    }
  }
}
// CartItemCard \\
.cart-item-card {
  margin: 1em 0;

  @include grid(0, flex-start, center, 1fr, 1fr);
  @include sm {
    @include grid(0, center, center, 1fr 1fr 1fr, 1fr);
  }
  @include md {
    @include grid(0, flex-start, center, 1fr 1fr 1fr 1fr 1fr 1fr, auto);
  }
  border: 1px solid white;
  li {
    padding: 1em;
    text-align: center;
    @include flex-column(center, center);
    height: 100%;
    border: 1px solid white;
  }
  img {
    object-fit: cover;
    width: 100%;
    min-width: 220px;
    height: 180px;
  }
}
// QuantityEl \\

.quantity-el {
  height: 100%;
  @include flex-column(center, center);
  li {
    border: none;
    height: unset;
  }
  footer {
    @include flex-row(center, center);
    i {
      padding: 0.1em 0.5em;
      cursor: pointer;
      margin: 0 1em;
      &:hover {
        color: $red;
      }
    }
  }
}
