$gallery-swiper-size: 250px;
$gallery-swiper-size-mobile: 150px;
.product {
  &__gallery {
    background: rgba(black, 0.2);
    border-bottom: 1px solid rgba(gray, 0.2);
    padding: 3em 1em;
    @include sm {
      padding: 3em 2em;
    }
    .swiper-container {
      height: $gallery-swiper-size-mobile;
      @include sm {
        height: $gallery-swiper-size;
      }
      .swiper__item {
        height: $gallery-swiper-size-mobile;
        @include sm {
          height: $gallery-swiper-size;
        }
      }
    }
    &__gallery {
      @extend .notMobile;
    }
    &__cube {
      @extend .mobileOnly;
    }
  }
  .grid {
    padding: 2em 0em;
    @include sm {
      padding: 4em 0em;
    }
    .product__header {
      color: white;
      margin: 20px 0 0 0;
      text-align: center;
      @extend %fs48;
    }
    .product__prodacts-cards {
      @include grid(1em, flex-start, flex-start, 1fr, auto);
      padding: 50px 0;
      @include sm {
        padding: 100px 0;
        @include grid(1em, flex-start, flex-start, 1fr 1fr, auto);
      }
      &__item {
        height: 300px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        @extend %fs32;
        list-style: none;
        @include flex-column(center, center);
        cursor: pointer;
        transition: 300ms ease-out;
        border-radius: 7px;
        text-shadow: 1px 1px 5px black;

        &:hover {
          @extend %fs40;
          z-index: 1;
          box-shadow: 0 0 8px $red;
        }
      }
    }
  }
}
