.about {
  padding: 1em;
  @include md {
    padding: 4em 2em;
  }
  .grid {
    @include grid(2em, initial, initial, auto, auto);
    text-align: center;
    video {
      width: 80%;
      @include md {
        width: 100%;
      }
    }
    p {
      max-width: 500px;
      margin: auto;
    }
  }
}
