.carousle__item {
  height: 450px;
  @extend %div-is-img;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  &__overlay {
    padding: 1em;
    text-align: right;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.4s linear;
    cursor: pointer;
    &:hover {
      @extend .gradient-background-faded;
    }
    p {
      direction: rtl;
    }
    @include flex-column(flex-end, flex-end);
    &.flex-center {
      @include flex-column(center, center);
    }
  }
}
