.cart-icon {
  cursor: pointer;
  color: white;
  z-index: 3;

  font-size: 35px;
  position: relative;
  text-align: center;
  @include md {
    position: absolute;
    top: 26px;
    left: 25px;
    font-size: 45px;
  }
  span {
    line-height: 0;
    @extend %fs12;
    top: 4px;
    left: 50%;
    padding: 8px 5.5px;
    position: absolute;
    @include md {
      padding: 10px 5.5px;
      top: 8px;
      left: 25px;
    }
    border-radius: 50%;
    background: $red;
  }
}
