.event-page {
  &__container {
    padding: 2em 0 0 0;
    position: relative;
    background: $darkBlack;
    z-index: 5;
    @include grid(1em, initial, initial, auto, auto);

    &__services {
      padding: 50px 1em;
      background: $black-opacity;
      border-radius: 4px;
      @include grid(2em, initial, initial, repeat(1, 1fr), auto);
      @include sm {
        @include grid(2em, initial, initial, repeat(2, 1fr), auto);
      }
      @include md {
        @include grid(15px, initial, initial, repeat(4, 1fr), auto);
      }
    }
  }
}
