.gallery {
  padding: 1em;
  position: relative;
  background:$black;
  @include md {
    padding: 4em 2em;
  }
  .grid {
    @include grid(2em, initial, initial, 100%, auto);
    text-align: center;
  }
 
}
