.hero {
  width: 100vw;
  height: 100vh;

  @include div-is-img('/static/image/hero_3.jpg');
  background-size: cover;

  &__overlay {
    width: 100%;
    height: 100%;
    color: transparent;
    text-align: center;
    @include grid(1em, center, center, auto, auto);
    h1,
    h2 {
      @extend .text-shadow
    }
  }
}
