$shardHeight:90vh;
.hero {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: $shardHeight;
  @include div-is-img('/static/image/fthr_dghtr_plays.jpg');
  background-size: cover;
  &__overlay {
    width: 100%;
    height: 100%;
    color: transparent;
    text-align: center;
    @include grid(1em, center, center, auto, auto);
    h1,
    h2 {
      @extend .text-shadow
    }
  }
}
.hero-placeholder {
  width: 90vw;
  height: $shardHeight;
}
