// the mask
.modal-card-dialog {
  z-index: 15555;
  // the modal card
  .ant-modal {
    margin-bottom: 3em;
  }
}

// the container that wrap the title and content
.modal-card-container {
  direction: rtl;
  background: $gradient;
  border-radius: 4px;
  // the close X
  .ant-modal-close {
    left: 0;
    color: white;
  }
  // the modals header container
  .ant-modal-header {
    background: transparent;
    @include flex-row(flex-end);
    .ant-modal-title {
      color: white;
      @extend %Secular;
    }
  }
  // the modals content
  .ant-modal-content {
    @extend %Varela;
    background: transparent;
    box-shadow: none;
    .ant-modal-body {
      padding: 12px;
      @include sm {
        padding: 25px;

      }
    }
  }
}
// the modal button
.modal-button-card {
  position: relative;
  @extend %btnBase-noFontSize;
  width: 100%;
  height: 300px;
  color: white;
  @extend .text-shadow;
  @extend %fs26;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius:0;
  span {
    text-shadow:1px 1px 2px black;
    position: absolute;
    bottom: 15px;
    
  }
}
