$menu-tabs-width: 130px;

%tabs-common {
  width: $menu-tabs-width;
  padding: 2em 0em;
  @include md {
    padding: 2em 0em;
  }
  text-align: center;
}
.menu-navbar {
  position: sticky;
  top: 0;
  z-index: 155;

  &[data-top='true'] {
    .ant-menu {
      box-shadow: 0px -2px 8px 4px $darkBlack;
      .ant-menu-item {
        padding: 1em 2em;
      }
    }
    .ant-menu-submenu {
      .ant-menu-submenu-title {
        padding: 1em 2em;
      }
    }
  }
}
.ant-menu {
  position: relative;
  background: $black !important;
  @include flex-row(center);
  // logo
  .menu-navbar__ant-menu__logo,
  .logo {
    cursor: pointer;
    &[data-top='true'] {
      transition: 0.3s;
      height: 70px;
      width: 70px;
    }
  }

  &.ant-menu-horizontal {
    border: 2px solid $black;
  }
  // the items
  .ant-menu-item {
    @extend %tabs-common;
    background: $black;

    &-active {
      color: $red;
      border-bottom: 2px solid $red !important;
      > a {
        color: $red !important;
      }
    }
    // the text inside
    a {
      color: white !important;
      @extend %Varela;
    }
  }
}
.ant-menu-submenu {
  .ant-menu-sub {
    background: $black !important;
    box-shadow: 0px 0px 15px 2px $darkBlack;
    padding: .5em !important;
    &:not(.ant-menu-hidden) {
      @include flex-column();
    }
  }
  &-open {
    color: $red;
    border-bottom: 2px solid $red !important;
  }

  .ant-menu-submenu-title {
    @extend %tabs-common;
    color: white;
    @extend %Varela;
    &:hover {
      color: $red !important;
    }
  }
  .ant-menu-item {
    width: 100%;

    text-align: right;
    @extend %Varela;
    background: $black;
    color: white;
    &-active {
      color: $red !important;
    }
  }
}

.ant-menu-submenu-popup {
  background: $black !important;
}
