$menu-tabs-width: 100px;
$menu-tabs-width-mobile: 100px;

%tabs-common {
  width: $menu-tabs-width-mobile;
  @include sm {
    width: $menu-tabs-width;
    padding: 2em 0em;
  }

  text-align: center;
}
.menu-navbar {
  position: sticky;
  top: 0;
  z-index: 155;
  background: $black;
  &[data-top="true"] {
    .ant-menu {
      box-shadow: 0px -0px 10px 0px rgba(black, 0.8);
    }
  }
  .ant-menu {
    font-size: 14px;
    @include sm {
      font-size: 16px;
    }
    position: relative;
    background: $black !important;
    @include flex-row(center, center);
    // logo
    .menu-navbar__ant-menu__logo,
    .logo {
      cursor: pointer;
      height: 60px;
      width: 60px;
      @include sm {
        height: 100px;
        width: 100px;
      }
    }

    &.ant-menu-horizontal {
      border: 2px solid $black;
    }
    // the items
    .ant-menu-item {
      @extend %tabs-common;
      background: $black;

      &-active {
        color: $red;
        border-bottom: 2px solid $red !important;
        > a {
          color: $red !important;
        }
      }
      // the text inside
      a {
        color: white !important;
        @extend %Varela;
      }
    }
  }
}
.ant-menu-submenu {
  .ant-menu-sub {
    background: $black !important;
    padding: 0.5em !important;
    box-shadow: 0px 0px 5px 0px black;
    &:not(.ant-menu-hidden) {
      @include flex-column();
    }
    .ant-menu-item {
      padding: 30px 30px;
      font-size: 14px;
      @include flex-column(center);
      @include sm {
        font-size: 16px !important;
      }
    }
  }
  &-open {
    color: $red;
    border-color: $red !important;
  }

  .ant-menu-submenu-title {
    @extend %tabs-common;
    color: white;
    @extend %Varela;
    &:hover {
      color: $red !important;
    }
  }
}
.ant-menu-item {
  width: 100%;

  text-align: right;
  @extend %Varela;
  background: $black;
  color: white;
  &-active {
    color: $red !important;
  }
}

.ant-menu-submenu-popup {
  background: $black !important;
}
