.payment {
  background: $black-opacity;
  border-radius: 4px;
  padding: 30px 40px;
  header h2 {
    color: $approved;
  }
  #delivery-form {
    @include grid(0 15px, flex-start, flex-start, 1fr 1fr, auto);
    @include sm {
      @include grid(15px, flex-start, flex-start, 1fr 1fr 1fr, auto);
    }
    .btnDark.hover-green {
    }
  }
}
