$heroHeight: 350px;
$heroHeight-mobile: 250px;
.static-hero {
  height: $heroHeight-mobile;
  @include sm {
    height: $heroHeight;

  }
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: 0;
  width: 100%;
  .hero-overlay {
    width: 100%;
    height: 100%;
    @include flex-column(center, center);
    @extend .text-shadow;
  }
}
.hero-static_placeholder {
  height: $heroHeight-mobile;
  @include sm {
    height: $heroHeight;
  }

}
.static-page {
  &__space-placeholder {
    height: 500px;
  }
  &__content {
    background: $black;
    z-index: 1;
    position: relative;
    padding: 4em 0;
    @include grid(1em, initial, initial, auto, auto);

    > .grid {
      @include grid(1em, center, initial, 100%, auto);
      text-align: center;
    }
    &__swiper-container {
      margin: auto;
      height: 500px;
      max-width: 300px;
      @include md {
        max-width: 700px;
      }
    }
    &__services {
    }
  }
}
